<div class="container" ng-controller="fcontroller as fc">
	<div
		class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form class="form-signin" ng-submit="fc.submit()" method="post">
			<div class="form-group">
				<label class="control-label">Enter Forum Title</label> <input
					type="text" name="forumtitle" id="forumtitle"class="form-control" placeholder="Forum Title"
					required ng-model="fc.forum.forumTitle">
			</div>
			<div class="form-group">
				<label class="control-label">Enter Forum Description</label> <textarea type="text"
					name="forumdescription" id="forumdescription" class="form-control" placeholder="Forum Description" required ng-model="fc.forum.forumDescription"></textarea>
			</div>
						<button class="btn button " type="submit">Add Forum</button>
			<br>
		</form>
	</div>
</div>