<style>
body {
	background: rgba(179, 220, 237, 1);
	background: -moz-linear-gradient(left, rgba(179, 220, 237, 1) 0%,
		rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179, 220, 237,
		1)), color-stop(50%, rgba(41, 184, 229, 1)),
		color-stop(100%, rgba(188, 224, 238, 1)));
	background: -webkit-linear-gradient(left, rgba(179, 220, 237, 1) 0%,
		rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: -o-linear-gradient(left, rgba(179, 220, 237, 1) 0%,
		rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: -ms-linear-gradient(left, rgba(179, 220, 237, 1) 0%,
		rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	background: linear-gradient(to right, rgba(179, 220, 237, 1) 0%,
		rgba(41, 184, 229, 1) 50%, rgba(188, 224, 238, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced',
		endColorstr='#bce0ee', GradientType=1);
}

.transparent .tuyin {
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.37);
	border: 1px solid #F7F7F7;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
	text-align: center;
	width: 97%;
	position: relative;
	margin-bottom: 25px;
}

.transparent .tuyin .title {
	text-align: justify;
	color: #FFF;
	font-size: 49px;
}

.transparent .tuyin .plan-name {
	
	border-bottom: 1px solid #FFF;
}

.transparent .tuyin .text {
	
	color: #474747;
	text-align: justify;
}
</style>
<div class="container" ng-controller="fcontroller as fc">
	<div class="row transparent">

		<div class="col-md-12">
			<div class="tuyin first">
				<span class="title">{{fc.forum.forumTitle}}</span>
				<div class="text">
					<p>{{fc.forum.forumDescription}}</p>
				</div>
			</div>
		</div>


	</div>

</div>
<div class="container" ng-controller="fcontroller as fc">
	<div class="row">
		<h3>Discussion</h3>
	</div>
	
		<div class="transparent" ng-show="fc.forumDiscussions!=''">
		<div class="col-md-12">
			<div class="tuyin first" ng-repeat="fdis in fc.forumDiscussions">
				<span class="text">{{fdis.fdiscussion}}</span>
				<br/><span class="text">{{fdis.postedby}}</span> 
				<span class="text">{{fdis.createdOn}}</span>
				
			</div>
		</div>
	</div>


	<div class="row" >
		<form ng-submit="fc.submitDiscussion()" method="post">
			<div class="col-md-10">

				<textarea type="text" name="blogcomment" id="blogcomment"
					class="form-control" placeholder="Comment here" required
					ng-model="fc.forumDiscussion.fdiscussion"></textarea>
			</div>
			<div class="col-md-2">
				<div class="widget-area no-padding blank">
					<div class="status-upload">


						<button class="btn button " type="submit">Post</button>

					</div>
					<!-- Status Upload  -->
				</div>
				<!-- Widget Area -->
			</div>
		</form>
	</div>

</div>